/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html body{
    background-color: #000000; 
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.interface1{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 5px 2%;
}

/* Estilo cabeçalho */

header > .cabecalho{
    color:#ffffffe1;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cabecalho h1 {
    color: #ffffff;
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
}

@media screen and(max-width: 480px) {
    .cabecalho h1 {
        max-width: 1450px;
        white-space: nowrap;
        font-weight: bold;
}
}

header nav ul {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    transition: background-color 0.3s ease;
}

header a {
    color: #ffffff;;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    padding: 1.6rem;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

@media screen and (max-width: 480px){
    header nav ul li {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0 60px;
}
}

header nav ul li:hover{

    transform: scale(1.01);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.836)
}

.linhabranca{
    border: none;
    border-top: 1px solid white;
    margin: 5px 0 0 0; 
    width: 100vw;
}

/* Estilo corpo */

main {
    padding: 40px 4%;
    color:#ffffff
}

.conteudo-principal > .foto-perfil{
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }    
}

/* LAYOUT PRINCIPAL */
.tela-principal {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.conteudo-principal {
    padding-right: 80px;
    align-items: center;
}

@media screen and (max-width: 480px){
    .conteudo-principal {
        padding-right: 0px;
    }
}
.foto-perfil {
    width: 250px;
    height: 250px;
    padding: 5 5 5;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    flex-shrink: 0; /* Impede que a imagem diminua */
}

.texto-perfil {
    color: rgb(255, 255, 255);
    text-align: justify;
    max-width: 680px;
}

/* Adaptar a tela para celular */
@media screen and (max-width: 480px){
    .texto-perfil {
        overflow-x: hidden;
        text-align: justify;
        max-width: 100%;
    }
}

.texto-perfil h2 {
    font-size: 36px;
    gap: 200px;
    margin-bottom: 15px;
}

.texto-perfil p {
    font-size: 20px;
    line-height: 1.5;
}

.texto-perfil p > p {
    font-size: 20px;
    line-height: 2;
}

.linhabranca2{
    border: none;
    border-top: 1px solid white;
    margin: 1px 2px 20px 0; 
    width: 100%;
}

/* rodape */
.rodape{
    max-width: 100%; 
    padding: 1px 4%;   
}

.logos{
    display: inline-flex;
    max-width: 100%;
    max-height: 50px;  
}

.informaçao-rodape{
    display:flex;
    width: 100vw; 
}

.informaçao-rodape h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    display:flex;
    width: 100%;
    position: relative; 
    justify-content: right; 
    align-items: center;
}