/* Estilo geral */
html{
    height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

html body{
    background-color: #000000; 
    min-height: 100%;
    width: 100%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.interface1{
    width: 100%;
    max-width: auto;
    margin: 0px auto;
    padding: 5px 2%;
}

/* Estilo cabeçalho */

header > .cabecalho{
    color:#ffffffe1;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cabecalho h1 {
    color: #ffffff;
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .cabecalho h1 {
        max-width: 1450px;
        font-size: clamp(20px, 22px, 24px);
        white-space: nowrap;
        font-weight: bold;
    }
}

header nav ul {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    transition: 0.3s ease;
}

header a {
    color: #ffffff;;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    padding: 0.8rem;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;
}

@media screen and (max-width: 480px){
    header nav ul li {
    display: inline-block;
    flex-wrap: wrap;
}
}

header nav ul li:hover{
    transform: scale(1.01);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.836)
}

/* Estilos para o Menu Hambúrguer */
.menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

 /* Estilo das barras do menu hambúrguer */
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff ;
    transition: all 0.3s ease;
}

/* #Estilo e ocultamento inicial */
@media (max-width: 480px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        width: 60%;
        height: 30%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        top: 70px; 
        right: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        line-height: 2.8rem;
        z-index: 1000;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }

    .nav-list{
        margin: 0px;
        padding: 0px;
    }

    .nav-menu.active {
        display: flex;
        width: 60%;
        max-width: auto;
        margin: 0px auto;
        padding: 5px 2%;
        align-items: center;
        transition: all 0.3s ease;
    }
    /* ... outras regras para .nav-item, etc. ... */
    .menu-toggle {
        display: flex; 
    }
}

.linhabranca{
    border: none;
    border-top: 1px solid white;
    margin: 5px 0px 0px 0px; 
    width: 100vw;
}

/* Estilo corpo */

main {
    padding: 40px 4%;
    display: flex;
    flex-grow: 1;
    color:#ffffff
}

.conteudo-principal > .foto-perfil{
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }    
}

/* LAYOUT PRINCIPAL */
.tela-principal {
    text-align: justify;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.conteudo-principal {
    padding-right: 80px;
    align-items: center;
}

@media screen and (max-width: 480px){
    .conteudo-principal {
        padding-right: 0px;
    }
}
.foto-perfil {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    flex-shrink: 0; /* Impede que a imagem diminua */
}

.texto-perfil {
    color: rgb(255, 255, 255);
    text-align: justify;
    max-width: 680px;
}

.texto-perfil h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

.texto-perfil p {
    font-size: 16px;
    line-height: 1.5rem;
}

/* Adaptar a tela para celular */
@media screen and (max-width: 480px){
    .texto-perfil {
        overflow-x: hidden;
        text-align: justify;
    }
    .texto-perfil h2 {
        font-size: clamp(20px, 22px, 24px);
    }
    .texto-perfil p {
        font-size: clamp(10px, 12px, 14px);
    }
}

/* Segunda foto e texto de perfil */

.caixaSecundaria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px 0px 0px 0px;
    justify-content: space-evenly;
}

.textoSecundario h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

.textoSecundario li{
    line-height: 22px;
}

@media screen and (max-width: 480px) {
    .textoSecundario h2 {
        font-size: clamp(20px, 22px, 24px);
    }
    .textoSecundario li {
        font-size: clamp(10px, 12px, 14px);
    }
}

@media screen and (max-width: 480px){
    .textoSecundario{
        overflow-x: hidden;
        text-align: justify;
        max-width: 100%;
    }
}

.fotoDescontraida {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    flex-shrink: 0; 
}

.containerSecundario > .fotoDescontraida{
    transform: translateY(0px);
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }    
}

.linhabranca2{
    border: none;
    border-top: 1px solid white;
    margin: 1px 2px 10px 0px; 
    width: 100%;
}

/* rodape */
.rodape{
    max-width: 100%; 
    min-height: 30px;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 1px 4%;   
}

@media screen and (max-width: 480px) {
    .rodape {
        max-width: 1450px;
        white-space: nowrap;
    }
}

.logos{
    display: flex;
    max-width: 100%;
    max-height: 50px; 
}

.logos > .LogoGit:hover{
    transform: scale(1.2px);
    animation: grow 2s;
}

.logos > .LogoLinkedln:hover{
    transform: scale(1.2px);
    animation: grow 2s;
}

 @keyframes grow {
     0% {
       transform: scale(1);
     }
     100% {
       transform: scale(1.2);
     }
   }

@media screen and (max-width: 480px) {
    .logos {
        max-width: 1450px;
        white-space: nowrap;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.informaçao-rodape{
    display:flex;
    width: 100vw;
}

.informaçao-rodape h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display:flex;
    width: 100%;
    position: relative; 
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .informaçao-rodape {
        align-items: center;
        flex-direction: column;
    }
    .informaçao-rodape h1 {
        display:flex;
        font-size: clamp(8px, 10px, 12px);
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

/* Estilização da página about */

.tela-especialidades{
    width: 100%;
    max-width: auto;
    margin: 0px auto;
    padding: 5px 2%;
}

.containerGeral1{
    max-height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.containerGeral2{
    max-height: 100%;
    flex-wrap: wrap;
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
}

.stackPrincipal h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.stackPrincipal{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
}
.PySpark{
    padding-left: 14px;
    align-items: center;
}

.frameworkprincipal h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.frameworkprincipal{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;
    
}

.frameworkAuxiliar h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.frameworkAuxiliar{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
    
}

.DB_Principal h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.DB_Principal{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;    
}

.docker h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.docker{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
    
}

.versionamento h2{
    border-top: solid white;
    width: 148px;
    height: 40px;
    border-radius: 10%;
    border-color: #ffffff;
    text-align: center;
}

.versionamento{
    background-color: #000000;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: #ffffff;
    box-shadow: -8px 14px  rgb(150, 150, 150);
    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;
}

/* aba portifólio */

.Projetos{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 40px 0;
}

.carregamento{
    height: 200px;
    max-height: auto;
    width: 240px;
    position: relative;
    align-items: center;
    background-color: #000000;
    border: 3px solid white;
    border-radius: 20%;
    border-color: #ffffff;
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
}

.gif-carregamento {
    height: auto;
    object-fit: contain;
}

.carregamento_titulo{
    width: auto;
    font-size: 18px;
    text-align: center;
    position: relative;
    align-items: center;
    padding-top: 14px;
    border-bottom: 2px solid white;
    border-radius: 20%;
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
}

/* contato */

.container_Geral{   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0px 4%;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
    .contato_titulo h2 {
        font-size: 24px; 
        padding: 8px 15px;
    }

    .contato_titulo p {
        font-size: 16px; 
        padding: 10px 15px;
    }

    .formulario {
        padding: 5px; 
    }

    .nome label,
    .e-mail label,
    .assunto label,
    .descricao label {
        font-size: 10px; 
        left: 10px; 
        margin-top: 6px;
    }

    .nome .input_nome:focus ~ label,
    .nome .input_nome:valid ~ label,
    .e-mail .input_email:focus ~ label,
    .e-mail .input_email:valid ~ label,
    .assunto .input_assunto:focus ~ label,
    .assunto .input_assunto:valid ~ label,
    .descricao .input_descricao:focus ~ label,
    .descricao .input_descricao:valid ~ label {
        transform: translateY(-40px); 
        font-size: 12px;
        padding: 0px 5px 0px 0px;
    }

    .input_nome,
    .input_email,
    .input_assunto,
    .input_descricao {
        height: 25px; 
        font-size: 12px;
        padding: 3px;
    }

    form input[type=submit] {
        font-size: 18px; 
        padding: 8px 20px;
    }
}

.contato_titulo{
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    flex-direction: column;
    max-width: 630px;
    text-align: center;
    
}

.contato_titulo h2{
    display: inline-block;
    font-size: 28px;
    flex-wrap: wrap;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 20px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    box-shadow: -3px 6px  rgb(150, 150, 150);
}

.contato_titulo p{
    text-align: center;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 18px 20px;
}

.formulario{
    width: 90%;
    max-width: 460px;
    background-color:#020202;
    padding: 10px 10px;
    border-radius: 10%;
    box-shadow: -8px 6px #d1d1d1e1;
    margin-left: auto; 
    margin-right: auto;
}

.nome .input_nome:focus ~ label,
.nome .input_nome:valid ~ label{
    transform: translateY(-40px);
    font-size: 20px;
    padding: 0px 14px 40px 0px;
    color: #ffffff;
}

.nome{
    display: block;
    position: relative;
    font-weight: bold;
    color: #000000e1;
    background-color: #ffffff;
    margin: 0 auto;
    border-width: 2px;
    padding: 10px 12px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    margin-top: 30px;
}

.nome label{
    position: absolute;
    height: auto;
    font-size: 18px;
    left: 18px;
    text-align: left;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-weight: bold;
    transition: all 0.2s;
    cursor: text;
}

.input_nome{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    border: 0px;
    border-bottom: 2px solid #d1d1d1e1;
    font-size: 18px;
    padding: 5px;
    outline: 0px;
}

.e-mail{
    display: block;
    position: relative;
    font-weight: bold;
    color: #000000e1;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 4%;
    border-width: 2px;
    padding: 10px 10px;
    margin-top: 36px;
}

.e-mail label{
    position: absolute;
    font-size: 18px;
    left: 18px;
    text-align: left;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-weight: bold;
    transition: all 0.2s;
    cursor: text;
}

.input_email{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    border: 0px;
    border-bottom: 2px solid #d1d1d1e1;
    font-size: 18px;
    padding: 5px;
    outline: 0px;
}

.e-mail .input_email:focus ~ label,
.e-mail .input_email:valid ~ label{
    transform: translateY(-40px);
    font-size: 20px;
    padding: 0px 14px 40px 0px;
    color: #ffffff;
}

.assunto{
    display: block;
    position: relative;
    font-weight: bold;
    color: #000000e1;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 4%;
    border-width: 2px;
    padding: 10px 10px;
    margin-top: 36px;
}

.assunto label{
    position: absolute;
    font-size: 18px;
    left: 18px;
    text-align: left;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-weight: bold;
    transition: all 0.2s;
    cursor: text;
}

.input_assunto{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    border: 0px;
    border-bottom: 2px solid #d1d1d1e1;
    font-size: 18px;
    padding: 5px;
    outline: 0px;
}

.assunto .input_assunto:focus ~ label,
.assunto .input_assunto:valid ~ label{
    transform: translateY(-40px);
    font-size: 20px;
    padding: 0px 14px 40px 0px;
    color: #ffffff;
}

.descricao{
    display: block;
    position: relative;
    font-weight: bold;
    color: #000000e1;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 4%;
    border-width: 2px;
    padding: 10px 10px;
    margin-top: 38px;
}

.descricao label{
    position: absolute;
    font-size: 18px;
    left: 18px;
    text-align: left;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-weight: bold;
    transition: all 0.2s;
    cursor: text;
}

.input_descricao{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    border: 0px;
    border-bottom: 2px solid #d1d1d1e1;
    font-size: 18px;
    padding: 5px;
    outline: 0px;
    cursor: text;
    resize: none; 
    overflow: hidden; 
    box-sizing: border-box; 
}

.descricao .input_descricao:focus ~ label,
.descricao .input_descricao:valid ~ label{
    transform: translateY(-40px);
    font-size: 20px;
    padding: 0px 14px 40px 0px;
    color: #ffffff;
}

.botao{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    box-shadow: -6px 4px  rgb(150, 150, 150);
    cursor: pointer;
}